<!Doctype html>
<html lang="en">
<head>
	<title>Tiat Skeleton</title>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A simple template for new projects.">
	<meta name="author" content="Jan Theon">
	<meta property="og:title" content="Tiat Skeleton">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://example.com/">
	<meta property="og:description" content="A simple template for new projects.">

</head>
<body>
<main>
	<h1>Hello World!</h1>

	<p>This is Tiat Skeleton default page.</p>
</main>
</body>
</html>
